.header {
  font-weight: bold;
  text-align: center;
  border: 1px solid rgb(156, 122, 102);
  background-color: rgb(156, 122, 102);
  color: rgb(231, 226, 223)
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: normal;
  color: black;
}

* {
  box-sizing: border-box;
}

.image {
  border: none;
  width: 150px;
  height: 180px;
}

.section-name {
  font-size: 40px;
  font-weight: bold;
  color: #67391d;
  width: 100%;
  border-color: bisque;
  background-color: bisque;
  text-align: center;
}

.container {
  display: flex;
  max-width: 1440px;
  flex-wrap: wrap;
  margin: 30px;
}

.section-title {
  text-align: left;
  font-size: 20px;
  font-weight: 800;
  color: #67391d;
  padding: 10px;

}

.nav-list {
  display: flex;
  list-style: none;
  justify-content: center;
}

.nav-link {
  opacity: 1;
  padding: 0 20px;
  line-height: 50px;
  text-decoration: none;
  color: rgb(231, 226, 223)
}

.nav-link:hover {
  opacity: 0.33;
}

html {
  scroll-behavior: smooth;
}

.section-main {
  display: flex;
  justify-content: center;
  padding: 30px 0px 30px 30px;
}

.section {
  width: 50%;
  padding-left: 20px;
  position: relative;
  display: inline-block;
}

.section ::before {
  content: " ";
  background: #b9855d;
  width: 300px;
  height: 3px;
  top: 50px;
  position: absolute;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

.list {
  list-style-type: none;
  font-weight: 600;
  text-align: left;
}

.contacts-item {
  opacity: 1;
  text-decoration: none;
  color: #67391d;
}

.contacts-item:hover {
  opacity: 0.33;

}

#aducation {
  font-weight: 600;
  text-align: left;
  padding: 10px;
}

#job-experience {
  font-weight: 600;
  text-align: left;
  padding: 10px;
}

#english {
  font-weight: 600;
  text-align: left;
  padding: 10px;
}

#summary {
  font-weight: 600;
  text-align: left;
  padding: 10px;
}

.list-projects {
  list-style-type: circle;
  font-weight: 600;
  text-align: left;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  border: 1px solid;
  background-color: rgb(156, 122, 102);
}